/* styles.css */

.header {
    background-image: url('C:/Users/a362236/OneDrive - Valvoline Global/Desktop/Pre-cap & Recap Webpage/Recap/GBL_Valvoline_Logo_positive_RGB.jpg');
    background-size: contain; /* Adjust as needed: cover, contain, or specific dimensions */
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container {
    max-width: 800px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

h2 {
    color: #002F6C;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #002F6C;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    margin-top: 20px;
}

.modal button {
    width: 45%;
    margin: 5px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
}

.radio-group label {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.placeholder {
    color: gray;
    font-style: italic;
}

/* Mobile adjustments */
@media only screen and (max-width: 600px) {
  .radio-group {
    display: flex;
    flex-wrap: wrap;
  }
  .radio-group label {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}
